<ul *ngIf="listOfLists">
  <li *ngFor="let list of listOfLists"
      (click)="selectList(list)"
      [class.allDone]="allToDoAreChecked(list)"
      [class.isSelected]="selectedList===list"
      >
    <div>
      <label class="name">
        {{list.name}} :
      </label>
      <label class="description">
        {{list.description}}
      </label>
    </div>

    <button type="button" (click)="deleteList(list)">Supprimer</button>
  </li>

</ul>
<fieldset *ngIf="selectedList">
  <legend>{{selectedList.name}}</legend>
  <app-todolist-detail [list]="selectedList"></app-todolist-detail>
</fieldset>

